# Vejledende løsninger til lige besvarelser er forbeholdt undervisere,
# der anvender bogen i sin undervisning
kapitel_03/Opg_3_7_1__2.java
kapitel_03/Opg_3_5_7__6b.java
kapitel_03/Opg_3_5_7__6a.java
kapitel_03/Opg_3_5_7__6.java
kapitel_03/Opg_3_5_7__4.java
kapitel_03/Opg_3_5_7__2.java
kapitel_02/Opg_2_10_2__4.java
kapitel_02/Opg_2_10_2__2.java
kapitel_02/Opg_2_10_1__2.java
kapitel_02/Opg_2_5_5__4.java
kapitel_02/Opg_2_5_5__2.java
kapitel_02/Opg_2_3_3__4.java
kapitel_02/Opg_2_3_3__2.java
kapitel_02/Opg_2_2_8__4.java
kapitel_02/Opg_2_2_8__2.java
kapitel_04/Opg_4_2_1__2.java
kapitel_04/Opg_4_3_2__2.java
kapitel_04/Opg_4_4_1__2.java
kapitel_04/Opg_4_4_1__4.java
kapitel_04/Opg_4_5_2__2.java
kapitel_04/Opg_4_10__2.java
kapitel_05/Opg_5_3_2__2.java
kapitel_05/Opg_5_6_2__2.java
kapitel_08/Opg_8_6__2.java
kapitel_14/Opg_14_7__4__SumMedTastatur2.java
kapitel_14/Opg_14_7__2__SumMedTastatur2.java
kapitel_10/Opg_10_3__4__AnalogtUr3.java
kapitel_10/Opg_10_3__4__AnalogtUr2.java
kapitel_10/Opg_10_3__4__AnalogtUr.java
kapitel_15/Opg_15_8__6__LaesKomprimeretTekstfilOgLavStatistik.java
kapitel_15/Opg_15_8__4__Diff.java
kapitel_15/Opg_15_8__2_Skyld.java
kapitel_16/Opg_16_4__4__Opslagstavletjeneste.java
kapitel_16/Opg_16_4__4_Opslagstavleklient.java
kapitel_17/Opg_17_3__2__Primtal.java
kapitel_18/Opg_18_3__2__Udgivelser.java
kapitel_21/Opg_21_8__2__Comparator.java
/kapitel_10/Opg_10_3__4__AnalogtUr4.java
